<nav class="navbar sticky-top navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">ES5 Sample</span>
</nav>

<div class="container">
  <br><div class="row">
    <div class="col">
      <h1>ES5 Sample</h1>
    </div>
  </div>
  <br><div class="row">
    <div class="col">
      <form>
          <div class="form-group">
            <label for="selectPost">Select Post</label>
            <select class="form-control" name="selectPost" id="selectPost">
              {{#each posts}}
                <option>{{this}}</option>
              {{/each}}
            </select>
          </div>
      </form>
    </div>
  </div>
  <br><div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Post</h5>
          <p class="card-text">postTitle: <span id="postTitle"></span></p>
          <p class="card-text">authorId: <span id="authorId"></span></p>
          <p class="card-text">loadTime: <span id="postLoadTime"></span></p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Author</h5>
          <p class="card-text">firstName: <span id="firstName"></span> </p>
          <p class="card-text">lastName: <span id="lastName"></span></p>
          <p class="card-text">loadTime: <span id="authorLoadTime"></span></p>
        </div>
      </div>
    </div>
  </div>
  <br><br><div class="row">
    <div class="col">
      <a href="#" class="btn btn-primary" id="loadAll">Load</a><br>
    </div>
  </div>
</div>

<script>
  function updatePost( postResponse, loadTime ) {
    document.getElementById( "postTitle" ).innerHTML = postResponse.title;
    document.getElementById( "authorId" ).innerHTML = postResponse.authorId;
    document.getElementById( "postLoadTime" ).innerHTML = loadTime;
  }

  function updateAuthor( authorResponse, loadTime ) {
    document.getElementById( "firstName" ).innerHTML = authorResponse.firstName;
    document.getElementById( "lastName" ).innerHTML = authorResponse.lastName;
    document.getElementById( "authorLoadTime" ).innerHTML = loadTime;
  }

  var loadAll = document.getElementById( "loadAll" );
  loadAll.addEventListener( "click", function( event ) {
    var selectPost = document.getElementById( "selectPost" );
    var postId = selectPost.options[ selectPost.selectedIndex ].text;
    var startTimePost = Date.now();

    var xhrPost = new XMLHttpRequest();
    var urlPost = "/v1/posts/" + postId + "?cb=" + Date.now();
    xhrPost.open( "GET", urlPost );
    xhrPost.onload = function() {
      if ( xhrPost.status === 200 ) {
        var postResponse = JSON.parse( xhrPost.responseText );
        updatePost( postResponse, Date.now() - startTimePost );

        var startTimeAuthor = Date.now();
        var xhrAuthor = new XMLHttpRequest();
        var urlAuthor = "/v1/authors/" + postResponse.authorId + "?cb=" + Date.now();
        xhrAuthor.open( "GET", urlAuthor );
        xhrAuthor.onload = function() {
          if ( xhrAuthor.status === 200 ) {
            var authorResponse = JSON.parse( xhrAuthor.responseText );
            updateAuthor( authorResponse, Date.now() - startTimeAuthor );
          }
        };
        xhrAuthor.send();
      }
    };
    xhrPost.send();
  } );
</script>
