<nav class="navbar sticky-top navbar-dark bg-primary">
  <span class="navbar-brand mb-0 h1">ES6 Sample</span>
</nav>

<div class="container">
  <br><div class="row">
    <div class="col">
      <h1>ES6 Sample</h1>
    </div>
  </div>
  <br><div class="row">
    <div class="col">
      <form>
          <div class="form-group">
            <label for="selectPost">Select Post</label>
            <select class="form-control" name="selectPost" id="selectPost">
              {{#each posts}}
                <option>{{this}}</option>
              {{/each}}
            </select>
          </div>
      </form>
    </div>
  </div>
  <br><div class="row">
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Post</h5>
          <p class="card-text">postTitle: <span id="postTitle"></span></p>
          <p class="card-text">authorId: <span id="authorId"></span></p>
          <p class="card-text">loadTime: <span id="postLoadTime"></span></p>
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Author</h5>
          <p class="card-text">firstName: <span id="firstName"></span> </p>
          <p class="card-text">lastName: <span id="lastName"></span></p>
          <p class="card-text">loadTime: <span id="authorLoadTime"></span></p>
        </div>
      </div>
    </div>
  </div>
  <br><br><div class="row">
    <div class="col">
      <a href="#" class="btn btn-primary" id="loadAll">Load</a><br>
    </div>
  </div>
</div>

<script>
  function updatePost( postResponse, loadTime ) {
    document.querySelector( "#postTitle" ).innerHTML = postResponse.title;
    document.querySelector( "#authorId" ).innerHTML = postResponse.authorId;
    document.querySelector( "#postLoadTime" ).innerHTML = loadTime;
  }

  function updateAuthor( authorResponse, loadTime ) {
    document.querySelector( "#firstName" ).innerHTML = authorResponse.firstName;
    document.querySelector( "#lastName" ).innerHTML = authorResponse.lastName;
    document.querySelector( "#authorLoadTime" ).innerHTML = loadTime;
  }

  function loadPost( postId ) {
    const url = `/v1/posts/${postId}?cb=${Date.now()}`;
    return fetch( url )
      .then( response => response.json() )
      .then( responseAsJson => responseAsJson )
      .catch( error => console.error( error ) );
  }

  function loadAuthor( authorId ) {
    const url = `/v1/authors/${authorId}?cb=${Date.now()}`;
    return fetch( url )
      .then( response => response.json() )
      .then( responseAsJson => responseAsJson )
      .catch( error => console.error( error ) );
  }

  const loadAll = document.querySelector( "#loadAll" );
  loadAll.addEventListener( "click", event => {
    const selectPost = document.querySelector( "#selectPost" );
    const postId = selectPost.options[ selectPost.selectedIndex ].text;
    const startTimePost = Date.now();
    let startTimeAuthor;

    loadPost( postId )
      .then( postResponse => {
        updatePost( postResponse, Date.now() - startTimePost );
        startTimeAuthor = Date.now();
        return loadAuthor( postResponse.authorId );
      } )
      .then( authorReponse => {
        updateAuthor( authorReponse, Date.now() - startTimeAuthor );
      } )
      .catch( error => console.error( error ) );
  } );
</script>
